#root {
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-align: center;
}

.navigation Navlink:hover {
  color: #f2cbbd;
}

nav ul li {
  list-style-type: none;
  display: inline;
}
a {
  color: white;
}

a:active {
  color: white;
}
a:hover {
  color: #f2cbbd;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}
