:root {
  --font: "Quicksand", sans-serif;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg: #6393a6;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  padding: 1rem;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--bg);
  font-family: var(--font);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  text-align: left;
}

footer {
  background-color: #733b36;
  width: 100%;
  padding: 0.5rem;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}

.container {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto auto auto;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
  gap: 1rem;
}

.split {
  position: relative;
  justify-items: center;
  align-items: center;
  background-position: center;
}

.split h2 {
  position: absolute;
  top: 175px;
  left: 175px;
}

.split img {
  border-radius: 10px;
  width: 500px;
  height: 500px;
}

.split img:hover {
  opacity: 0.3;
}

.split a:hover {
  color: #385a68;
}

.card {
  background-color: #a65b4b;
  border-radius: 10px;
  min-width: 25%;
  max-width: 250px;
}

.card h2 {
  text-transform: capitalize;
}

.card img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.material-symbols-outlined {
  margin: 0.3rem;
  padding: 0.3rem;
  width: 1rem;
  height: 1rem;
}
.close {
  position: relative;
}
.heart {
  float: left;
}

.navigation a:hover {
  color: #f2cbbd;
}

.content {
  margin: 3rem;
  padding: 3rem;
  background-color: #a65b4b;
  border-radius: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5rem;
  background-color: #f9f9f9;
}
button:hover {
  border-color: #f2cbbd;
}

a:hover {
  color: #733b36;
}
